main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* Ocupa a altura total da tela */
  background-color: #75cbe3b4;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; /* Para incluir padding no cálculo do tamanho total */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin: 0 0 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: all 400ms ease;
  transform-style: preserve-3d;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: 5px solid #1a3c53;
  border-radius: 5px;
  transition: all 400ms ease;
}

.front {
  transform: rotateY(180deg);
  background-size: contain;
  background-repeat: no-repeat;
}

.back {
  background-image: url("../images/bg.png");
  backface-visibility: hidden;
}

.reveal-card {
  transform: rotateY(180deg);
}

.disabled-card {
  filter: saturate(0);
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.options-container button {
  background-color: #75cbe3;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
